<html>
  <head>
    <title>Welcome to Raspberry PI</title>
  </head>
  <body>
  <h1>nginx, configured by Ansible</h1>
  <p>If you can see this, Ansible successfully installed nginx.</p>
  <ul>
    <li>Liang's beancount</li>
  </ul>
  </body>
</html>
